﻿@page "/AdminEstatusPersonal"
<h3>Catalogo de Estatus de Personal</h3>


@Error

@if (estatus != null)
{
    <h4>Total de registros: @estatus.Count</h4>

    <div class="row">
        <div class="col-2">Estado</div>
        <div class="col-4"><input type="text" @bind-value="@estado.Estatus" class="w-100" /></div>
        <div class="col-2"><button @onclick="@Insertar">Insertar estado</button> </div>
        <div class="col-2"><button @onclick="@Actualizar">Actualizar estado</button> </div>

    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in estatus)
            {
                <tr>
                    <td>@item.IdEstatus</td>
                    <td>@item.Estatus</td>
                    <td>
                        <button @onclick="()=>Editar(item)">Editar</button>
                        <button @onclick="()=>Eliminar(item)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="3" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@estatus" TItem="EstatusPersonal" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="EstatusPersonal" Property="IdEstatus" Title="ID" Frozen="true" />
            <RadzenDataGridColumn TItem="EstatusPersonal" Property="Estatus" Title="Estado" />
            <RadzenDataGridColumn TItem="EstatusPersonal" Title="Acciones">
                <Template Context="data">
                    <RadzenButton Click=@(args => Editar(data)) Icon="edit" ButtonStyle="ButtonStyle.Secondary" />
                    <RadzenButton Click=@(args => Eliminar(data)) Icon="delete" ButtonStyle="ButtonStyle.Warning" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <h3>Reporte de Personal</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rol</th>
                <th>Estatus</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in datosReporte)
            {
                <tr>
                    <td>@item.IdPersonal</td>
                    <td>@item.Rol</td>
                    <td>@item.Estatus</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellidos</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    List<EstatusPersonal> estatus;
    List<ReportePersonalModel> datosReporte;
    string Error;
    EstatusPersonal estado;

    EstatusPersonalManager manager;
    PersonalManager personalManager;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        estatus = new List<EstatusPersonal>();
        personalManager = FabricManager.PersonalManager();
        manager = FabricManager.EstatusPersonalManager();
        Error = "";
        estado = new EstatusPersonal();
        ActualizarTabla();
    }

    private void ActualizarTabla()
    {
        try
        {
            estatus = manager.ObtenerTodos;
            datosReporte = personalManager.ObternerReporteDePersonal();
            //Error = estatus != null ? "" : manager.Error;
            Error = estatus != null ? "" : "Error al obtener los datos; intente mas tarde...";
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            estatus = new List<EstatusPersonal>();
        }
    }


    private void Insertar()
    {
        if (manager.Insertar(estado) != null)
        {
            Error = "";
            ActualizarTabla();
            estado = new EstatusPersonal();
        }
        else
        {
            Error = manager.Error;
        }
    }

    private void Editar(EstatusPersonal item)
    {
        estado = item;
    }

    private void Actualizar()
    {
        if (manager.Actualizar(estado, estado.IdEstatus) != null)
        {
            Error = "";
            ActualizarTabla();
            estado = new EstatusPersonal();
        }
        else
        {
            Error = manager.Error;
        }
    }

    private void Eliminar(EstatusPersonal item)
    {
        if (manager.Eliminar(item.IdEstatus))
        {
            Error = "";
            ActualizarTabla();
            estado = new EstatusPersonal();
        }
        else
        {
            Error = manager.Error;
        }
    }

}
