﻿@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<img src="imagenes/copa.png"/>


<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p>@nombre</p>
@code {
    string nombre="";
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        nombre = $"Carlos has presionado el botón {currentCount} veces";
    }
}
