﻿@page "/test"
@inherits PruebaViewModel  
<h3>Prueba</h3>

<p>Esta es una prueba de pagina con blazor se ejecuto a las @ahora.ToLongTimeString()</p>
<p>@DateTime.Now.ToShortTimeString()</p>
<p>El estatus actial es: @estado.Estatus</p>

<button @onclick="CambiarEstatus">Cambiar estado</button>

